[submodule "StreamingLibrary"]
	path = StrategyWrapper/StreamingLibrary
	url = http://github.com/solarteameindhoven/STE17-MK5Streaming
[submodule "QSTECANMessage"]
	path = StrategyWrapper/QSTECANMessage
	url = http://github.com/solarteameindhoven/STE15-QSTECANMessage
[submodule "CSV2CPP"]
	path = CSV2CPP
	url = https://github.com/SolarTeamEindhoven/STE17-CSV2CPP
